* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

div {
    margin-bottom: 15px;
}

input:valid + span::before {
    content: "✔ ";
    color: green;
}

.header-container {
    display: flex;
    align-items: flex-start;
}

header {
    background-color: #223357;
    color: #bbbbbb;
    padding: 10px 20px;
    border-radius: 4px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #cac471;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
}

.contatos {
    display: flex;
    justify-content: center; 
}

.contatos img {
    right: 50px;
    height: 50px;  
    margin: 20px; 
}


form footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}