* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 0px;
}

header {
    background-color: #0080ff;
    border: 1px solid;
    border-radius: 2px;
    color: #201d1d;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: #ffff;
    display: inline;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
}

nav ul li a img{
    width: 25px;
    height: auto;
} 

.contatos {
    display: flex;
    justify-content: center; 
}

.contatos img {
    right: 50px;
    height: 50px;  
    margin: 20px; 
}


.api{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px;
}

.api #texto{
    flex: 1px;
    margin-right: 15px; 
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    text-decoration: none;
    color: #ffff;
    padding: 10px;
    display: block;
}

.dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-conteudo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-conteudo a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-conteudo {
    display: block;
}

#whatsapp img{
    height: 25px;
    width: 25px;
}


#email img{
    height: 20px;
    width: 25px;
}


#github img{
    height: 25px;
    width: 40px;
}

.fundo{
    text-align: center;
    padding: 30px;
}

.fundo img{
    width: auto;
    height: auto;
}

.rodape{
    text-align: center;
    background-color: #004080; 
    color: #ffffff; 
    padding: 40px 60px;
    width: 100%;
}

.mensagem{
    padding: 30px;
}